﻿@using System.Web.Optimization
@{
    ViewBag.Title = "AngularStuff";
}

<style>
    .rotate {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);

      /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
      -webkit-transform-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      transform-origin: 50% 50%;

      /* Should be unset in IE9+ I think. */
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }    
</style>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="well span1 rotate">
            
        </div>
        <!--/span-->
        <div class="span9" id="checklist_panel">
            <div class="row-fluid" ng-app ng-controller="checklistEventoController">
                <div>
                    <h2>Checklist Evento</h2>
                    <div>
                        <fieldset ng-repeat="grupo in groupedData">
                            <legend>
                                {{getGroupName(grupo)}}
                                <span class="muted help-block"><small>{{getGroupDescription(grupo)}}</small></span>
                            </legend>
                            <ul>
                                <li ng-repeat="item in grupo">
                                    <label>
                                        <input type="checkbox" ng-model="item.Valor" />
                                        {{item.ItemName}}
                                    </label>
                                    <span class="help-block">{{item.ItemDescription}}</span>
                                </li>
                            </ul>
                        </fieldset>
                    </div>
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/app/checklistEventoController.js")
}

