﻿<ul class="thumbnails bootstrap-examples">
    <li class="span3">
        <a href="http://getbootstrap.com/2.3.2/examples/starter-template.html" class="thumbnail">
            <img alt="" src="http://getbootstrap.com/2.3.2/assets/img/examples/bootstrap-example-starter.png">
        </a>
        <h4>Starter template</h4>
        <p>A barebones HTML document with all the Bootstrap CSS and JavaScript included.</p>
    </li>
    <li class="span3">
        <a href="http://getbootstrap.com/2.3.2/examples/hero.html" class="thumbnail">
            <img alt="" src="http://getbootstrap.com/2.3.2/assets/img/examples/bootstrap-example-marketing.png">
        </a>
        <h4>Basic marketing site</h4>
        <p>Featuring a hero unit for a primary message and three supporting elements.</p>
    </li>
    <li class="span3">
        <a href="http://getbootstrap.com/2.3.2/examples/fluid.html" class="thumbnail">
            <img alt="" src="http://getbootstrap.com/2.3.2/assets/img/examples/bootstrap-example-fluid.png">
        </a>
        <h4>Fluid layout</h4>
        <p>Uses our new responsive, fluid grid system to create a seamless liquid layout.</p>
    </li>

    <li class="span3">
        <a href="http://getbootstrap.com/2.3.2/examples/marketing-narrow.html" class="thumbnail">
            <img alt="" src="http://getbootstrap.com/2.3.2/assets/img/examples/bootstrap-example-marketing-narrow.png">
        </a>
        <h4>Narrow marketing</h4>
        <p>Slim, lightweight marketing template for small projects or teams.</p>
    </li>
    <li class="span3">
        <a href="http://getbootstrap.com/2.3.2/examples/justified-nav.html" class="thumbnail">
            <img alt="" src="http://getbootstrap.com/2.3.2/assets/img/examples/bootstrap-example-justified-nav.png">
        </a>
        <h4>Justified nav</h4>
        <p>Marketing page with equal-width navigation links in a modified navbar.</p>
    </li>
    <li class="span3">
        <a href="http://getbootstrap.com/2.3.2/examples/signin.html" class="thumbnail">
            <img alt="" src="http://getbootstrap.com/2.3.2/assets/img/examples/bootstrap-example-signin.png">
        </a>
        <h4>Sign in</h4>
        <p>Barebones sign in form with custom, larger form controls and a flexible layout.</p>
    </li>

    <li class="span3">
        <a href="http://getbootstrap.com/2.3.2/examples/sticky-footer.html" class="thumbnail">
            <img alt="" src="http://getbootstrap.com/2.3.2/assets/img/examples/bootstrap-example-sticky-footer.png">
        </a>
        <h4>Sticky footer</h4>
        <p>Pin a fixed-height footer to the bottom of the user's viewport.</p>
    </li>
    <li class="span3">
        <a href="http://getbootstrap.com/2.3.2/examples/carousel.html" class="thumbnail">
            <img alt="" src="http://getbootstrap.com/2.3.2/assets/img/examples/bootstrap-example-carousel.png">
        </a>
        <h4>Carousel jumbotron</h4>
        <p>A more interactive riff on the basic marketing site featuring a prominent carousel.</p>
    </li>
</ul>
